{% extends 'Base.html' %}
{% block title %}Welcome - Home{% endblock title %}
{% block body %}
{% load static %}

<div class="container text-center" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
    <div class="col-md-6 mx-auto">
        {% comment %} <p class="m-0" style="font-family: 'Ysabeau SC', sans-serif;font-size: 0.8rem;" data-aos="fade-up" data-aos-duration="2000">HI THERE!</p> {% endcomment %}
        <p class="m-0" style="font-family: 'Ysabeau SC', sans-serif;font-size: 0.8rem;" data-aos="fade-up" data-aos-duration="2000">
            Hi there,I am
        </p>
        <h1  style="font-family: 'Roboto', sans-serif;font-size: 6rem;font-weight:900;" data-aos="fade-up"
            data-aos-duration="2000">PIYUSH</h1>
        <p class="m-0" style="font-family: 'Ysabeau SC', sans-serif;font-size: 0.8rem;" data-aos="fade-up" data-aos-duration="2000">Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Pariatur
            voluptatem molestias quam adipisci nihil
            laudantium magnam, harum deserunt at, quaerat eligendi. Nam, autem quam dolorem culpa veritatis
            consequuntur!
            Laudantium, eveniet!
        </p>


        <!-- REACH ME SECTION -->
        <button class="btn btn-primary my-3 rounded-pill" style="height: 50px;width: 170px;" type="button"
            data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="bottom-bottom">
            Reach Me
        </button>
    </div>
</div>





{% endblock body %}