{% extends 'Base.html' %}
{% block title %}Welcome - Home{% endblock title %}
{% block body %}
{% load static %}

<div class="container text-center" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
    <div class="col-md-6 mx-auto">
        <p class="m-0" style="font-family: 'Ysabeau SC', sans-serif;font-size: 0.8rem;" data-aos="fade-up"
            data-aos-duration="2000">
            Hi there,I am
        </p>
        <h1 style="font-family: 'Roboto', sans-serif;font-size: 6rem;font-weight:900;text-transform:uppercase;" data-aos="fade-up"
            data-aos-duration="2000">{{firstName}}</h1>
        <p class="m-0" style="font-family: 'Ysabeau SC', sans-serif;font-size: 0.8rem;" data-aos="fade-up"
            data-aos-duration="2000">
            {{short_desc}}
        </p>


        <!-- REACH ME SECTION -->
        <a href="#contact">
            <button class="btn btn-primary my-3 rounded-pill" style="height: 50px;width: 170px;" type="button"
                data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="bottom-bottom">
                Reach Me
            </button>
        </a>
    </div>
</div>





{% endblock body %}